{{form_start(form)}}
{{form_errors(form)}}

<div class="row">
	<div class="col">
		{{form_row(form.score)}}
		{{form_row(form.dateCreation)}}
	</div>
	<div class="col">
		{{form_row(form.user)}}

	</div>
</div>

<button type="submit" class="btn btn-primary">
	<i class="fas fa-save"></i>
	Enregistrer
</button>
{{form_end(form)}}
